<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="/home" class="brand-logo">Hacker News</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">News</a></li>
        <li><a href="#">Comments</a></li>
        <li><a href="#">Submt</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <h3 class="center-align">all post will go here</h3>
</div>