<div class="container">
  <nav>
  <div class="nav-wrapper">
    <a href="/home" class="brand-logo">Hacker News</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">News</a></li>
      <li><a href="#">Comments</a></li>
      <li><a href="www.google.com">Submit</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <ul id="side-menu" class="side-nav">
      <li><a href="#">News</a></li>
      <li><a href="#">Comments</a></li>
      <li><a href="#">Submit</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <a href="#!" data-activates="side-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>

<div class="container">
  <h3 class="center-align">all post will go here</h3>
</div>