<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="/home" class="brand-logo">Hacker News</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Back</a></li>
      </ul>
      <ul id="side-menu" class="side-nav">
      	<li><a href="/">BACK</a></li>
   		</ul>
    <a href="/" data-activates="side-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>


<div class="container">
<%= @msg %>
  <h5>Login</h5>
  <form action="/hacker_news" method="post">

   <%= @login_errors %>

    <div class="row">
      <div class="input-field col s12">
        <label for="username" class="active">Username</label>
      <input id="username" type="text" name="user[name]">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
      <label for="password" class="active">Password</label>
      <input id="password" type="password" name="user[password]">
      </div>
    </div>
      <button class="btn waves-effect waves-light right !important" type="submit" name="action">Submit
      </button>
  </form>
</div>
<br>


<div class="container">
  <h5>Create Account</h5>
  <form action="/signup" method="post">

     <%= @signup_errors if @signup_errors.nil? %>
    
    <div class="row">
      <div class="input-field col s12">
        <label for="username" class="active">Username</label>
      <input id="username" type="text" name="user[name]">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
      <label for="password" class="active">Password</label>
      <input id="password" type="password" name="user[password]">
      </div>
    </div>
      <button class="btn waves-effect waves-light right !important" type="submit" name="action">Create Account
      </button>
  </form>
</div>
<br>